
.block-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.owl-carousel{
    width: 60% !important ;
    height: 68vh;
}
.owl-dots{
    display: none !important;
}
.owl-carousel .owl-item img {
    display: flex !important;
    width: 97% !important;
    margin: 10px; 
}
.padd-h{
    padding: 20px 0 ;
}
/* ,,,, */
.hero-offer{
    display: flex;
    
    width: 100%;
    height: 6.5vh;
    background: black;
    color: white;
}
.cont-cent{
    
    display: flex;
    max-width: 80vw;
    margin: auto;
}

.cont-cent p{
    padding-right: 28px ;
    align-self: center;
    justify-self: center;
}
.project-container{
    padding-top: 30px;
    max-width: 88vw;
    margin: auto;
}
.project-flex{
    display: flex;
}

.image-proj{
    height: 70vh;
    width: 30vw;
    background: rgba(70, 70, 70, 0.103);
    align-items: center;
    justify-content: center;
}
.image-proj img{
    height: 68vh;
    width: 20vw;
    align-self: center;
    justify-self: center;
}

.details-proj{
    height: 70vh;
    width: 50vw;
    padding:3em  ;
    padding-bottom: 0;
    margin-left: 2em;
    /* background: darkcyan; */
}
.details-proj li{
padding: 0.5rem;
}
.project-info{
    height: 50vh;
    margin-top: 4em;
    /* margin-bottom: 4em; */
    line-height: 24px;
    font-size: 16px;
    /* background: gray; */
}
.project-info p {
    padding: 4em 1.5em 2em 1.5em;
}
.proj-floor{
    padding: 4em 0;
}
.floor-plan{
    display: flex;
    justify-content: center;

}
.floor-plan img{
    height: 50vh;
    width: 30vw;
}
.aa{
    height: 44vh;
    width: 29vw;
    background: green;
    margin: 20px;
}

/* location */
.proj-map{
    display: flex;

}
.proj-c-map{
    width: 40vw;
    height: 48vh;
    background: coral;
}
 .proj-g-map{
     width: 30vw;
     height: 48vh;
     background: cyan;
 }

 /* cta */
 .proj-cta{
    padding: 4em 0;
  
 }
 .p-cta{
     display: flex;
     justify-content: space-around;
     align-items: center;
     background: rgba(128, 128, 128, 0.267);
     height: 60vh;
     
 }