@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,600&display=swap');
/* font-family: 'PT Serif', serif; */
/* font-family: 'Work Sans', sans-serif; */
   *{
        padding: 0;
        margin:0;   
        font-family: 'Montserrat', sans-serif ;
    }
    /* owl carousel */

    .castle{
        /* font-family: Helvetica; */
        font-style: italic;
        font-weight: 300;
    }
    h1,h2{
        font-family: 'Work Sans' ;
    }

.owl-carousel{
        width: 82% !important;
    }
    .owl-dots{
        display: none !important;
    }
    .owl-carousel .owl-item img {
        display: block;
        width: 40% !important; 
    }

    /* proj owl */
    .owl-carousel .owl-stage {
        position: relative;
        -ms-touch-action: pan-Y;
        touch-action: manipulation;
        /* margin: 20px; */
    }
   .project-wrap .owl-carousel .owl-item img {
        display: block;
        width: 100% !important; 
    }

   html , body{
        color: black;
        /* font-family: 'Wo Sans', sans-serif; */
        font-family: 'Montserrat', sans-serif;
        font-size: 16px; 
        overflow-x: hidden;
        width: 100%;
        
      
      
    }

  .index-wrap h1{
        font-family: 'PT Serif', serif;
        font-weight: 700;
        word-spacing: 5px; 
        font-size: 32px;  
    }
    .index-wrap h2{
        font-family: 'PT Serif', serif;
        font-weight: 700;
        word-spacing: 5px; 
        font-size: 32px;  
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        text-decoration: underline;
    }

    h4{
        display: inline;
    }

    .hero-wrap button{
        margin: 20px 20px 0 0;   
    }

    button{
        color: white;
        cursor: pointer;
        border: none;
        height: 32px;
        width: 90px;
        border-radius: 6px;
        /* background: rgb(161, 12, 12); */
        background: rgba(255, 255, 255, 0);
        border: 2px  solid rgb(247, 200, 83);
        color: rgb(247, 200, 83);
    }

    button:hover{
        background:  rgb(247, 200, 83);
         color:white; 
        
    }


    /* navigation menu */
    .burger{
        display: none;
    }
    .burger div{
    
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: whitesmoke;
        transition: all 0.3s ease;
    }

    .nav a{
            text-align: center;
            text-decoration: none;
            color:rgb(247, 200, 83);
    }
    .nav{   
            display: flex;
            overflow: hidden;
            justify-content: space-around;
            align-items: center;
            min-height: 12.45vh;
            width: 100%;
            /* background:rgb(1, 82, 119); */

            background: rgb(0, 76, 99);
            /* background: rgb(3, 32, 59); */
            /* color: rgb(247, 200, 83); */
            color: #FFD662FF;
            font-size: 14px;   
    }

    .logonav{
        justify-self: left;
    }
    .logonav img{
        cursor: pointer;

    }

    .nav-list {
        list-style-type:none;
        width: 40%;
        display: flex;
        justify-content: space-around;
        
        
    }

    .nav li {
    align-self: center;
    
        
    }

    .nav li a{
        padding: 39px 28px;

    }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
  
    

    .nohov a:hover{
    background: rgba(0, 0, 0, 0) !important;
    }

    .nav ul a:hover {
        background:rgb(247, 200, 83);
        color: white;
        transition: all 0.2s ease-in-out;
    }

  




    /* hero section start */

    .hero-wrap
    {
        background-image: linear-gradient( rgba(0, 0, 0, 0.801),rgba(146, 146, 146, 0.24) ) , url("../resources/castle-burg-hero1.jpg") ;
        width: 100%;
        height: 65vh;
        background-position: center ;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        color: white;

    }
    .container{
        display: grid;
        height: auto;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;

    }
    
    .content-hero{
        padding:100px 0 0 7%;
    }
    .content-hero{
        width: 400px;
    }
    .content-hero p{
        padding: 12px 0 7px 0;
    }

    .enquiry{
        display:flex;
        flex-direction: column;
        width: 21vw;
        /* justify-self: right; */
        padding-right: 4em;
        padding-top: 4em ;

        
    }
    .enquiry input,select{
        padding: 7px;
        margin: 5px;
        border-radius: 8px;
        border: none;
        box-sizing: border-box;   
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        background: rgb(255, 255, 255);
    }
    label{
        font-size: 13px;
        padding: 5px;

    }
       select:focus,input:focus{
        border: 1.5px solid rgb(0, 76, 99);
    }
    
     .frm-border{
         padding-top: 10px;
         display: flex;
         flex-direction: column;
         background: rgba(0, 0, 0, 0.192);
         border-radius: 8px;
         padding: 6px;
     }
     .insubmit{
         background: rgb(37, 160, 37) !important;
         color: white;
         height: 30px;
         margin: 20px 0 8px 0 !important;
         
     }

    /* project section */

    .project-wrap{
        height: 630px;
        width: 100%;
        margin-top: 50px ;
        font-size: 14px;
    }

    .proj-parent{
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 7.5%;
        /* margin-right: 8%; */
        align-items: center;
        margin-top: 30px;
        justify-self: center;
        align-self: center;
        
        
        
    }

    .proj{

        display: flex;
        flex-direction: column;
        height: 390px;
        width: 24vw;
        margin:15px;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 2px 4px 0 rgba(73, 73, 73, 0.068), 1px 6px 6px 2px rgba(73, 73, 73, 0.075) ;

    }


    .proj img{
        height: 180px;
        width: 100%;
    }

    .projtext{
        padding: 10px;
        margin: 8px 0 8px 15px;
    }

    .proj h2{
        margin-bottom: 15px;
        font-size: 22px !important;
    }

    .proj button{
        margin:0 0 0 30%;
        border-radius: 6px;
    }

    .proj:hover{
        transform: translateY(-6px);
        transition: transform 0.15s ease-in-out;
    }
    /* about */

    .about-wrap{
        
        height: 480px;
        width: 100%;
        background: rgb(0, 76, 99);
        /* background:rgb(6, 58, 107); */
        /* background: rgb(6, 6, 49) ; */
        color:white;
        line-height: 1.6em;
    
        
    }
    .about-content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 480px;
        
    }

    .about-text p{
        
        margin-right: 40px;
        width: 600px;
        
        }
        .abth1{
            padding: 0px 0 20px 7.5%;
        }

    .about-wrap a{
        color: white;
    }
        .arrow{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            align-self: center;
            height: 140px;
            width:90px;
            margin-right:20px ;
        }
        .arrow img:hover{
            transform: translateY(-6px);
            transition: transform 0.15s ease-in-out;
        }

        
        


        /* partners */

        .partners-wrap{
            margin-top: 90px;
            margin-left: 5%;
            height: 500px;
            width: 90%;
        
        }
        .partners{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns : 1fr 1fr 1fr ;
            justify-content: center;
            margin-top: 50px;
            
            }
            .pah1{
                padding-left: 3%;
            }
        
        .par,.pa5, .pa6
        {
            
            justify-self: center;
            align-self: center;
            
            
        }

        .partners-wrap img:hover
        {
        transform: translateY(-20px); 
        transition: transform 0.15s ease-in-out;
        }
        /* testimonials */
      .tes {
            
            justify-self: center;
            align-self: center;
            margin: 15px;
            
        }
        .testimo-wrap
        {
            height: 500px;
            width :100%;
            margin: 15px 20px 15px 0;
        }

        .test-content img
        {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin-bottom:20px ;

        }
        .test-content
        {
            display: grid;
            width: 90%;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 30px;
            margin-left: 9.6%;
        }

        

        /* .test-content p 
        {
            width: 200px;
        } */

        

       .t-flex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10px;
            box-shadow: 0 2px 4px 0 rgba(73, 73, 73, 0.068), 1px 6px 8px 1px rgba(73, 73, 73, 0.075) ;
            border-radius: 6px;
        }
        



        /* footer */

        footer{
            height: 90px;
            width: 100%;
            background: rgb(25, 25, 27);
            color: white;
            font-size: 14px;
        }

        .foot{
            height: 90px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    
        .f3{
            display: flex;
            align-items: flex-end;
            
        }
        .f3 img{
            width: 25px;
            height:25px;
            margin: 0 10px;
        }
    .testimo-wrap h4{
            font-weight: 580;
            font-style: italic;
        }
        footer a{
            color: white;

        }
        .foot img:hover{
            transform: translateY(-6px);
            transition: transform 0.15s ease-in-out;
        }
        /* 1280 responsive */
        @media (max-width:1285px){
             .proj h2 {
                 
                 font-size: 22px !important ;
             }
           
        }
        @media (max-width:1101px){
            .proj h2 {
                
                font-size: 22px !important ;
            }

            .about-text p{
        
                margin-right: 40px;
                width: 500px;
                
                }
          
            
       }

        /* responsive css @800px */
    @media (max-width:800px)
    {  

        .hero-form{
            display: none;
        }
        /* nav responsive */
        .burger{
            display: block;
            cursor: pointer;
        }
      
        .nav-list{
            position: absolute;
            flex-direction: column;
            height: 86vh;
            right: 0px;
            top: 12.5vh;
            background:rgb(6, 6, 49);  
            width: 60%;
            z-index: 1; 
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }
        .nav img{
           padding-right: 110px;
        }
        
        .nav-active{
            transform: translateX(0%);  

        }
        .navclose .line1{
            transform: rotate(-45deg) translate(-5px,6px);
        }
        .navclose .line2{
            opacity: 0;
        }
        .navclose .line3{
            transform: rotate(45deg) translate(-5px,-6px);
        }
        


        /* hero sect */
        .hero-wrap{
            height: 60vh;
        }
        .content-hero{
            width: 290px;
            margin-left:7% ;
            padding: 80px 0 0 8%;
        
        }
        .hero-wrap h1,h2{
             font-size: 26px;
         }

        /* project section responsive */
        .project-wrap{
            height: auto;
            width: 100%;
            margin: 0;
            /* padding-left: 10vw; */
        
        }
        .proj-parent{
            width: 80%;
            padding-left: 10vw;
            align-items: center;
            margin: 10px 0;
        }
        
        .proj{
            width:75vw ;
            margin: 10px;
           
            
        }
        /* ABOUT RES */

        .about-wrap{
            margin: 0;
            width: 100%;
            padding-bottom: 20px;
            padding-top: 20px;
            height: auto;
        }
        .about-content{
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0;
            padding-top: 20px;
            height: 900px;
            line-height: 1.7em;
            
            
        
        }
        .about-text p{
            
            margin: 0;
            width: 260px;
            
            }
            .abth1{
                margin: 25px;
                padding: 0;
            }

            /* res partner */

            .partners-wrap{
                
                padding: 0;
                margin: 30px 0;
                height: auto;
                width: 90%;
                
            }
            .partners{
                display: grid;
                grid-template-rows: 1fr 1fr 1fr ;
                grid-template-columns : 1fr 1fr  ;
                justify-content: center;
                margin: 30px 0 0 9%;
        
                

                
                }
                .partners-wrap h1{
                    margin: 10px;
                }
            
            .par ,.pa5, .pa6 {
                
                justify-self: center;
                align-self: center;
                margin: 15px;
                
            }
            .par img{
                height: 110px;
                width: 110px;
            }
            .pa6 img{
                
                width: 110px;
            }
            .pa5 img{
                width: 110px;
            }

            /* testimonial responsive */
            .testimo-wrap{
                overflow: hidden;
                width :100%;
                padding:0;
                margin: 5px 0;
                height: 550px;
            }
        
            .test-content img{
                height: 100px;
                width: 100px;
                border-radius: 50%;
                margin-bottom:20px ;
        
            }
            .test-content{
                display: grid;
                grid-template-columns: 1fr ;
            
                margin:  30px 0 0 5%;
                padding: 20px;
                justify-content: center;
                align-items: center;
                
            }
        
            .test-content p{
                width: 200px;
            }
        
            .t1 , .t2 , .t3{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 10px;
                border-radius: 10px;
                align-self: center;
                justify-self: center;
            }
            
            
            .testimo-wrap h1{
                margin: 20px;

            }
            
        /* footer responsive */
        footer{
            
            height: 100px;
            width: 100%;
            background: rgb(29, 29, 31);
            color: white;
            font-size: 12px;
        }

        .foot{
            height: 100px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    
        .f3{
            display: flex;
        
            
        }
        .f2{
            display: none;
        }
        .f3 img{

            width: 20px;
            height:20px;
            margin: 0 5px;
        }
    .testimo-wrap h4{

            font-weight: 580;
            font-style: italic;
        }
        
        body{
             
            margin: 0;
            width: 100%;
        }
    }



